/*
  Josh Comeau's Modern CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* 
  End Modern CSS Reset
*/

:root {
  --theme-background: #01121f;
  --theme-dark: #152938;
  --theme-color: #d5ddea;
  --theme-success: #c5e478;
  --theme-gray: #637777;
  --header-height: 3em;
  --header-background: var(--theme-background);
  --footer-height: 3em;
  --footer-background: var(--theme-background);
}

#root {
  height: 100%;
}

body {
  background-color: var(--theme-background);
  color: var(--theme-color);
}

header {
  height: var(--header-height);
  background-color: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1em;
}

main {
  height: calc(100% - var(--header-height) - var(--footer-height));
  display: flex;
  gap: 3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  background-color: var(--footer-background);
}

a {
  color: var(--theme-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  font-size: 2em;
  background-color: var(--theme-background);
  border: none;
  color: var(--theme-color);
  text-align: center;
  border-bottom: 2px solid var(--theme-background);
}

input:focus,
input:focus-visible,
input:active {
  border-color: var(--theme-color);
  outline: none;
}

.icons {
  display: flex;
  gap: 1em;
}

.goal-icon:hover {
  cursor: pointer;
}

.goal-icon.disabled {
  pointer-events: none;
}
